// Replacement Filters Page

.replacement_filters_div {
	img {
		max-width: 205px;
	}
}

.repla_header1 {
	margin-top: 30px;
}

.repla_header {
	margin-top: 70px;
}

.repla_name_div1 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.repla_name_div {
	margin-top: 50px;
	margin-bottom: 10px;
	width: 100%;
}

.repla_name,
.repla_price {
	width: 45%;
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
}

.repla_price {
	text-align: right;
}

.oversized {
	margin-top: -10px;
	margin-bottom: -20px;
}

.canada {
	margin-top: 60px;
}